<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Programación Gráfica</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="franja-azul">
        <h1>Programación Gráfica</h1>
    </div>
    <div class="contenido">
        <p>La programación gráfica es una rama de la programación que se enfoca en crear y manipular imágenes, formas, interfaces visuales o animaciones en una pantalla. Se utiliza para desarrollar aplicaciones visuales como videojuegos, interfaces gráficas de usuario (GUI), simulaciones, gráficos 2D y 3D, etc.</p>
        <a href="{{ url_for('inicio') }}" class="btn-regresar">← Volver a la página principal</a>
    </div>
</body>
</html>


